body {
	background-image : url("images/grass.gif");
	background-size : cover;
	height: 98%;
	width: 98%;
}

.platzhalter {
	position: absolute;
	display: block;
	width: 99%;
	top: 40%;
	text-align: center;
	font-size: 100px;
}